version: '3.8'

services:
  db:
    image: postgres:13
    container_name: postgres-procup3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: procup3
    ports:
      - "5432:5432"
    volumes:
      - ./backend/DATA/procup3.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build:
      context: ./backend
    container_name: node-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "5173:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend
