version: '3.8'

services:
  db:
    image: postgres:13
    container_name: postgres-procup
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: procup
    ports:
      - "5432:5432"
    volumes:
    - ./DATA/procup.sql:/docker-entrypoint-initdb.d/procup.sql

  backend:
    build: .
    container_name: node-backend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      - NODE_ENV=development

volumes:
  postgres_data:
